Adafruit-Blinka==5.8.1
adafruit-circuitpython-busdevice==5.0.1
adafruit-circuitpython-motor==3.2.3
adafruit-circuitpython-motorkit==1.5.4
adafruit-circuitpython-pca9685==3.3.2
adafruit-circuitpython-register==1.9.1
Adafruit-PlatformDetect==2.22.2
Adafruit-PureIO==1.1.7
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyftdi==0.52.0
pyserial==3.5
pyusb==1.1.0
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
sysv-ipc==1.0.1
Werkzeug==1.0.1
